<div class="container">
  <h1>My tasks</h1>
  <div>
    <ul>
      <% @tasks.each do |task| %>
        <div>
          <li class="d-flex"><%= simple_form_for(task) do |f| %>
          <%= f.input_field :completed, as: :boolean %>
          <% end %>
            <a id="task" href="/tasks/<%= task.id %>"><%= task.tile %></a>
            <div class="delete"> ~ <%= link_to '<i class="icon-trash"></i>'.html_safe, task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></div>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
  <div class="link">
    <%= link_to '<i class="icon-plus"></i> Create a new task'.html_safe, "/tasks/new" %>
  </div>
</div>
